body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(-45deg, #d1cbc9, #626061, #0d252e, #192e29);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 90%;
  height: 90%;
  margin: 20px;
  padding: 20px;
  background-color: #b6c2b566;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(132, 126, 126, 0.811);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

.profile {
  text-align: center;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(125, 121, 121, 0.925);
}

.profile h1 {
  margin-bottom: 10px;
}

.profile p {
  margin: 0;
}

.skills {
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills li {
  margin: 10px;
  background-color: #8da690;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(125, 121, 121, 0.925);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.skills li:hover {
  background-color: #6d9267;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.projects {
  display: flex;
  justify-content: space-evenly;
  height: 50%;
  width: 70%;
 
  
}

.project {
  margin: 30px;
  background-color: #f9f9f928;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  width: 50%;
  height: 50%;
}

.project:hover {
  background-color: #eaeaea;
  height: 80%;
  overflow-x: auto;
}

.project img {
  width: 100%;
  height: 60%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project h3 {
  text-align: center;
  margin: 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons .github {
  color: #000000;
  margin: 0 10px;
  font-size: 24px;
}

.social-icons .linkedin {
  color: #0a66c2;
  margin: 0 10px;
  font-size: 24px;
}

.social-icons .gmail {
  color: #d44638;
  margin: 0 10px;
  font-size: 24px;
}

.profileCardDescription {
  white-space: pre-wrap;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .profileCardDescription {
  opacity: 1;
}




.projectsSmallscreen{
  margin: 10px;
  display: none;

}





.projectSmallscreen{

width: 200px;
padding: 5px;
margin: 10px;
background-color: #26272525;
color: rgb(227, 233, 227);
text-align: center;
font-size: 16px;
border: none;
border-radius: 5px;
transition: all 0.3s;
cursor: pointer;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}



.projectSmallscreen:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.626);
  transform: translateY(-2px);
  background-color: #0d252e;
}



@media only screen and (max-width: 595px) {
  .projects {
    display: none;
  
  }
  .projectsSmallscreen{
    display: flex;
    width: 100%;
    margin: 0;
  ;
  
   
    
  }
  .skills {
    margin-top: 30px;
    font-size: small;
  }

  h2{
    font-size: medium;
  }

  .projectSmallscreen{
    font-size: 10px;
  }
 
}




